.pag-acessorios {
  padding: 40px;
}

.body-acessorios {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  justify-items: center; 
  max-width: 1200px; 
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 50px;
}

@media (max-width: 768px) {
  .body-acessorios {
    grid-template-columns: repeat(2, 1fr); 
  }
}

@media (max-width: 900px) {
  .body-acessorios {
    grid-template-columns: repeat(2, 1fr); 
    gap: 30px;
  }
}

@media (max-width: 480px) {
  .body-acessorios {
    grid-template-columns: 1fr; 
    gap: 30px;
  }
}

