.scrollable-content{
    background-color: white;
    padding: 8%;
    border-radius: 20px;
    max-width: 450px;
    max-height: 200px;
    overflow-y: scroll;

}
.scrollable-content::-webkit-scrollbar {
    width: 12px; /* Largura da barra de rolagem */
    display: none;
}

.scrollable-content::-webkit-scrollbar-track {
    background: transparent; /* Fundo da faixa de rolagem */
    border-radius: 10px; /* Bordas arredondadas da faixa de rolagem */
    scrollbar-width: none; 
}

.scrollable-content::-webkit-scrollbar-thumb {
    background-color: #747474; /* Cor do polegar da rolagem */
    border-radius: 10px; /* Bordas arredondadas do polegar */
    border: 1px solid transparent; /* Espaço entre o polegar e a faixa de rolagem */
    background-clip: padding-box; /* Garante que o polegar não fique sobre o fundo da faixa */
}

.scrollable-content {
    scrollbar-width: thin; /* Define a largura da barra de rolagem como fina */
    scrollbar-color: #747474 transparent; /* Define a cor do polegar e o fundo da faixa */
   
}
.container-cadeirinha{
   border-style: solid;
   border-width: 1px;
   border-color: #DA1C1C ;
   border-radius: 10px;
   padding: 10px;
   display: flex;
   flex-direction: column;
   position: relative;
}
.texto {
    position: absolute; 
    bottom: 10px; 
    right: 10px; 
    display: flex;
    flex-direction: column;
    align-items: flex-end; 
  }
  
  .nomeCadeira {
    margin: 0;
    font-weight: bold;
    color: black;
    font-size: 10px;
    font-family: var(--font-1), Arial, Helvetica, sans-serif;
  }
  
  .preço {
    margin: 0;
    font-weight: bold;
    color: black;
    font-size: 10px;
    font-family: var(--font-1), Arial, Helvetica, sans-serif;
  }
 
