
.container-controle-quantidade {
    height: 50px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.container-controle-quantidade button {
    width: 38px;
    height: 38px;
    border-radius: 10px;
    background-color: var(--cor-1);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.container-controle-quantidade button:hover {
    transform: scale(1.1);
}

.container-controle-quantidade button > img {
    width: 40%;
}

.container-controle-quantidade span {
    font-family: var(--font-1), Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    font-weight: normal;
    color: black;
}