/* Container principal que envolve todo o cadastro */
.container-cadastro {
    display: flex;  /* Exibe os elementos lado a lado (formulário e imagem) */
    width: 80%;  /* Ocupa 80% da largura da tela */
    margin: 0 auto; /* Centraliza o container na tela */
    min-height: 100vh; /* Garante que o container ocupe pelo menos a altura da tela */
    align-items: center; /* Centraliza verticalmente os elementos dentro do container */
}

/* Estilo da seção do formulário de cadastro */
.formulario-cadastro {
    display: flex;  /* Permite organizar elementos verticalmente */
    flex-direction: column;  /* Ordena os elementos de cima para baixo */
    justify-content: center;  /* Alinha os elementos ao centro verticalmente */
    align-items: center;  /* Centraliza os elementos horizontalmente */
    flex-grow: 1;  /* Faz com que o formulário cresça para ocupar o espaço disponível */
    max-width: 50%;  /* Define uma largura máxima para o formulário */
    box-sizing: border-box; /* Garante que o padding não afete a largura total */
   
}
  
/* Estilo do título "Cadastrar" */
.titulo {
    font-size: 30px;  /* Tamanho da fonte */
    font-family: 'Lemonada', sans-serif;  /* Fonte utilizada */
    font-weight: bold;  /* Negrito */
    color: #DA1C1C;  /* Cor do texto */
    margin-bottom: 40px;  /* Espaço abaixo do título */
}
  
/* Grupo de estilo dos inputs (nome, senha, confirmar senha, email) */
.grupo-input {
    margin-bottom: 15px;  /* Espaço abaixo de cada input */
    width: 100%;  /* Largura total */
}
  
.grupo-input label {
    display: block;  /* Faz com que o label ocupe a largura total, ficando em cima do input */
    font-family: 'Lemonada', sans-serif;  /* Fonte do label */
    font-size: 20px;  /* Tamanho da fonte do label */
    font-weight: regular;  /* Peso da fonte (normal) */
    color: #DA1C1C;  /* Cor do texto do label */
    margin-bottom: 5px;  /* Espaço abaixo do label, acima do input */
}
  
.grupo-input input {
    width: 100%;  /* Largura do input */
    height: 40px;  /* Altura do input */
    padding: 10px;  /* Espaçamento interno */
    font-size: 20px;  /* Tamanho da fonte */
    font-family: 'Lemonada', sans-serif;  /* Fonte utilizada */
    border: 1px solid #D9D9D9;  /* Borda do input */
    border-radius: 10px;  /* Bordas arredondadas */
}
  
/* Estilo do botão "Cadastrar" */
.btn-cadastrar {
    width: 150px;  /* Aumentando a largura do botão */
    height: 40px;  /* Altura do botão */
    font-size: 20px;  /* Tamanho da fonte */
    font-family: 'Lemonada', sans-serif;  /* Fonte utilizada */
    font-weight: semiBold;  /* Fonte em semi-negrito */
    color: #fff;  /* Cor do texto (branco) */
    background-color: #DA1C1C;  /* Cor de fundo do botão */
    border: none;  /* Sem borda */
    border-radius: 5px;  /* Bordas arredondadas */
    cursor: pointer;  /* Cursor de ponteiro ao passar o mouse */
    margin-top: 30px;  /* Espaço acima do botão */
    margin-left: 25%;  /* Empurra o botão para a direita */
    display: block;  /* Faz o botão ocupar uma linha inteira */
}

  
/* Estilo da seção da imagem de cadastro */
.imagem-cadastro {
    display: flex;  /* Permite centralizar a imagem */
    justify-content: center;  /* Centraliza a imagem horizontalmente */
    align-items: center;  /* Centraliza a imagem verticalmente */
    flex-grow: 1;  /* Faz com que a imagem cresça para ocupar o espaço disponível */
    max-width: 50%;  /* Reduz a largura da imagem para ocupar metade da tela */
    box-sizing: border-box; /* Garante que o padding não afete a largura total */
}
  
.imagem-cadastro img {
    max-width: 100%;  /* Largura máxima da imagem */
    max-height: 100vh; /* Limita a altura máxima da imagem a 80% da altura da viewport */
    height: auto;  /* Mantém a proporção da imagem */
    border-right: 1px solid #DA1C1C;  /* Linha vertical à esquerda da imagem */
}
