/* Define a estrutura básica do corpo da página */
.body {
  display: flex; /* Define que os elementos filhos serão dispostos em linha (lado a lado) */
  justify-content: space-between; /* Distribui espaço uniformemente entre os elementos */
  align-items: center; /* Centraliza verticalmente os elementos */
  padding: 20px; /* Adiciona um preenchimento interno de 20px ao redor do corpo */
  height: 80vh; /* Faz com que o conteúdo ocupe a altura total da tela */
}

/* Define a área à esquerda, onde o formulário e os títulos estão */
.container-esquerda {
  display: flex; /* Define que os elementos filhos serão dispostos em coluna (um abaixo do outro) */
  flex-direction: column; /* Garante que os itens dentro do container sejam alinhados verticalmente */
  align-items: center; /* Centraliza os itens horizontalmente no container */
  width: 50%; /* Define a largura do container esquerdo como 40% da tela */
}
/* Estiliza a imagem de certificação */
.imagem-certificacao {
  width: 50%; /* Ajusta a largura da imagem para 80% do container */
  max-width: 100px; /* Define um limite máximo para a largura */
  height: auto; /* Mantém a proporção da imagem */
  margin-bottom: 5px; /* Adiciona espaço abaixo da imagem de certificação */
}
.titulo-principal {
  font-family: 'Lemonada', sans-serif;
  font-size: 20px;
  color: black;
  font-weight: bold;
  margin-bottom: 10px; /* Adiciona espaço abaixo do título principal */
}

/* Estiliza o formulário de ergonomia */
.form-ergonomia {
  width: 100%; /* O formulário ocupará toda a largura do container-esquerda */
  display: flex; /* Os itens dentro do formulário serão dispostos em coluna */
  flex-direction: column; /* Garante que os itens dentro do formulário sejam alinhados verticalmente */
  align-items: center; /* Centraliza os itens horizontalmente no formulário */
}

/* Estiliza o rótulo (label) do formulário */
.form-label {
  margin-bottom: 5px; /* Espaço abaixo dos rótulos */
  font-size: 18px; /* Ajusta o tamanho da fonte dos rótulos */
  color: #DA1C1C; /* Cor do texto dos rótulos */
  margin-right: 115px;
  
}

/* Estiliza os campos de entrada (input) do formulário */
.form-ergonomia input {
    width: 30%; /* Reduz a largura dos inputs */
    height: 30px; /* Reduz a altura dos inputs */
    background-color: #D9D9D9; /* Mantém a cor de fundo */
    border: none; /* Mantém as bordas removidas */
    border-radius: 8px; /* Adiciona bordas arredondadas */
    padding-left: 10px; /* Mantém o preenchimento interno */
    font-family: 'Lemonada', sans-serif; /* Mantém a fonte do texto */
    font-size: 15px; /* Mantém o tamanho da fonte */
    margin-bottom: 10px; /* Aumenta o espaço entre os inputs */
}
/* Aumentar o espaço abaixo do input "Seu peso" */
#peso {
  margin-bottom: 20px; /* Aumenta o espaço abaixo do input "Seu peso" */
}

/* Define a área onde estão as opções de design */
.design-opcoes {
  width: 80%; /* Define que as opções de design ocuparão 80% da largura do container-esquerda */
  margin-bottom: 20px; /* Adiciona um espaço abaixo da seção de opções de design */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.titulo + .design-opcoes {
  margin-top: 10px; /* Adiciona espaço acima da primeira opção */
 
}

/* Estiliza cada opção de design */
.opcao-design {
  font-family: 'Lemonada', sans-serif; /* Define a fonte das opções de design */
  font-size: 15px; /* Define o tamanho da fonte das opções de design */
  color: #DA1C1C; /* Define a cor do texto das opções de design */
  margin-bottom: -5px; /* Adiciona um espaço abaixo de cada opção de design */
  text-align: center; /* Centraliza o texto das opções de design */
}
.titulo{
  font-family: 'Lemonada', sans-serif; /* Mantém a fonte do texto */
  font-size: 20px;
}

/* Estiliza o botão de "Encontrar" */
.botao-encontrar {
  width: 15%; 
  height: 35px; 
  background-color: #DA1C1C; /* Mantém a cor de fundo */
  color: white; /* Mantém a cor do texto */
  font-family: 'Lemonada', sans-serif; /* Mantém a fonte do texto */
  font-size: 15px; /* Mantém o tamanho da fonte */
  border: none; /* Mantém as bordas removidas */
  cursor: pointer; /* Mantém o cursor como uma mãozinha */
  border-radius: 8px; /* Adiciona bordas levemente arredondadas */
  text-align: center; /* Centraliza o texto dentro do botão */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px; /* Ajusta o espaço acima do botão para movê-lo para cima */
}

.botao-encontrar:hover {
  transform: scale(1.1);
}


/* Define a área à direita, onde a imagem de ergonomia está */
.container-direita {
  width: 50%; /* Define a largura do container direito como 50% da tela */
  height: 90%;
  max-height: 500px;
  display: flex; /* Os itens dentro do container serão dispostos em linha */
  justify-content: center; /* Centraliza a imagem horizontalmente no container */
  align-items: center; /* Centraliza a imagem verticalmente no container */
  background-image: url(./foto-ergonomia.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 10px;
  overflow: hidden;
}

/* Estiliza a imagem de ergonomia */
.imagem-ergonomia {
  width: 90%; 
  max-width: 90%; /* A imagem não ultrapassará 100% da largura disponível */
  height: auto; /* Mantém a proporção da imagem */
}
