.fimDaPagina {
  display: flex;
  width: 100%;
  height: 20%;
  background-color: var(--cor-1);
  text-align: center;
  padding: 20px;
}

.icones {
  padding: 30px;
  display: flex;
  justify-content: center;
  gap: 20px;
  font-size: 30px;
  align-items: center;
  color: white;


}

.icones img {
  width: 35px;
  height: 35px;

}

.emailFooter {
  font-size: 35px;
  padding-top: 10px;
  color: white;
}

.estiloBotoes {
  background-color: white;
  width: 40px;
  height: 40px;
  border-radius: 60%;
  border: none;
}