.container-cadeiraHome{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.cadeiraHome-titulo{
    font-family: var(--font-1) , Arial, Helvetica, sans-serif;
    font-size: 20px;
}
.cadeiraHome-img{
    width: 250px;
    height: auto;    
    box-shadow: 2px 2px 10px rgba(1, 1, 1, 0.1);
    padding: 40px;
      
}
.cadeiraHome-botao{
    width: 150px; 
    height: 50px; 
    background-color: var(--cor-1); /* Mantém a cor de fundo */
    color: white; /* Mantém a cor do texto */
    font-family: var(--font-1), sans-serif; /* Mantém a fonte do texto */
    font-size: 15px; /* Mantém o tamanho da fonte */
    border: none; /* Mantém as bordas removidas */
    cursor: pointer; /* Mantém o cursor como uma mãozinha */
    border-radius: 20px; /* Adiciona bordas levemente arredondadas */
    text-align: center; /* Centraliza o texto dentro do botão */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px; /* Ajusta o espaço acima do botão para movê-lo para cima */
}